# https://git-scm.com/book/de/v2/Git-Tools-Submodule
# https://stackoverflow.com/questions/1260748/how-do-i-remove-a-submodule
[submodule "modules/vimrc"]
	path = modules/vimrc
	url = https://github.com/amix/vimrc
	shallow = true
[submodule "modules/oh-my-tmux"]
	path = modules/oh-my-tmux
	url = https://github.com/gpakosz/.tmux
	shallow = true
[submodule "modules/tpm"]
	path = modules/tpm
	url = https://github.com/tmux-plugins/tpm
	shallow = true
[submodule "modules/fzf-tab-completion"]
	path = modules/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion
	shallow = true
[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf
	shallow = true
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
