# /etc/systemd/system/dotfiles-update-motd-apt-infos.timer

[Unit]
Description=dotfiles - update motd apt infos timer every 2h

[Timer]
OnBootSec=1min
OnUnitInactiveSec=120min
Persistent=true
Unit=update-motd-apt-infos.service

[Install]
WantedBy=timers.target