# /etc/systemd/system/dotfiles-update-motd-apt-infos.service

[Unit]
Description=dotfiles update motd apt infos

[Service]
Type=oneshot
User=root
ExecStart=bash -c "/root/dotfiles/motd/systemd/apt-update-infos.sh"