# /etc/systemd/system/dotfiles-update-motd-apt-infos.timer

[Unit]
Description=dotfiles update motd apt infos timer every 2h

[Timer]
OnCalendar=daily
AccuracySec=12h
Persistent=true
Unit=dotfiles-update-motd-apt-infos.service

[Install]
WantedBy=timers.target