# /etc/systemd/system/dotfiles-update-motd-apt-infos.timer

[Unit]
Description=dotfiles update motd apt infos timer (daily)

[Timer]
OnCalendar=daily
AccuracySec=12h             # allow up to 12h jitter to avoid spikes
Persistent=true
Unit=update-motd-apt-infos.service

[Install]
WantedBy=timers.target
